* {
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: faraz;
  src: url("fonts/Poppins-Medium.ttf");
}

.container {
  font-family: faraz;
} */

/* p {
  font-weight: 900; */
/* color: #1e6a73; */
/* font-size: 25em; */
/* line-height: 50px; */
/* } */

/* a {
  text-decoration: overline;
  color: black;
} */

/* p { */
/* word-spacing: 30px; */
/* } */
/*  */
/* { */
/* text-indent: 90px; */
/* font-size: 60px; */
/* color: red;
} */

/* .container {
  text-align: justify;
} */

/* .heading {
  text-shadow: 2px 2px 4px grey;
} */

/* a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: lightgreen;
}

a:active {
  color: cyan;
  text-shadow: 2px 2px 3px black;
}

input:focus {
  background-color: yellow;
} */

/* img {
  width: 100%;
} */

/* .box {
  border: 2px solid red;
  width: 400px;
  max-height: 300px;
  overflow: hidden;
  resize: vertical; */
/* min-width: 300px;
  max-width: 800px; */
/* } */

/* p {
  border: 2px solid blue;
  width: 300px;
  padding: 40px 10px;
  margin: 10px 15px 10px 15px;
} */

p {
  border: 2px solid red;
}
