.box {
  color: red;
  background-color: antiquewhite;
}

span {
  color: blue;
}

h1,
h3 {
  background-color: burlywood;
}

* {
  color: green;
}

ul > li {
  color: blue;
}

h1 ~ p {
  color: red;
}
